<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <jmxConfigurator/>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%rEx{5}
            </Pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>
    <!-- 综合时间与大小的滚动策略，先按小时滚动，小时内的文件大于50mb时再按大小滚动 -->
    <appender name="productionLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/data/logs/production.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%rEx{5}
            </Pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/logs/production-%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- project default level -->
    <logger name="com.magicpanda.core" level="DEBUG"/>
    <logger name="com.magicpanda.game" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="productionLogFile" />
    </root>
</configuration>